.heading
{
  color:#c60000;
  font-size: 14px;
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block;
}
.desc{
  color:black;
  font-style: italic;
  font-size: 12px;
  display: block; 
  margin-top: -90px;
  padding-left: 43px;
  white-space:pre-wrap;
}
.image{
  margin-left: 15%;
  margin-right: 20%;
  text-align: center;
  margin:10px;
  width: auto;
	height: auto;
  max-width: 95%;
  max-height: 90%;
  transform: scale(0.7);
  padding-top: 0;
  margin-top: -90px;
  display: block;
}
.summary{
list-style: none;
box-sizing: border-box;
flex: 1 0 auto;
font-family: Arial, Helvetica, sans-serif;
color:black;
font-size: 16px;
padding-bottom: .125rem;
padding-top: 10px;

}
.summartList{
  text-align: left;
  margin-bottom: 10px ;  
  padding-bottom: .125rem;
  line-height: 3.333em;
}
.summarySpan {
  position: relative;
  display: block;
  padding-bottom: 2px;
  margin-bottom: 10px;
}
.summaryTitle{
  color:rgb(198, 58, 27);
  font-weight: bold;
  
}
.h3Title{
  color:black;
  font-family: Trebuchet MS, sans-serif;
  font-size: 20px;
  margin-left: 35px;
  padding-bottom: 10px;
}
.ingredients{
  column-count: 2;
  margin-top: -1px;
  vertical-align:text-top; 
  padding-bottom: 10px;
}
.steps{
  column-count: 1;
  padding-bottom: 10px; 
}
.background{
  background-image: linear-gradient(#FEF2E4 ,#FD974d ,#805A3B);
}
.rightCorner{
  margin-left: 5px;
}
