/* body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
} */

 /* nav{
  width: 100%;
  height: 60px;
  background-color:#FD974F;
  margin-top: 50px;
}
nav p{
  font-family: Arial;
  color:white;
  font-size: 24px;
  line-height: 55px;
  float:left;
  padding-left: 5px; 
  padding-right:20px;
}
nav ul{
  float:left;
}
nav ul li{
  float:left;
  list-style: none;
   position: relative; 
}
nav ul li a{
   display: block; 
  font-family: Arial;
  color:white;
  font-size: 14px;
  padding: 22px 14px;
  text-decoration: none;
}
nav ul li ul{
  display: inline-block;
  position: relative; 
  background-color: white;
} 
.div-inline{
  display:inline-block;
}  */
nav {
  display: table;
  border-top: 1px solid #fd974f;
  border-bottom: 1px solid #fd974f;
}
nav p{
  font-family: Arial;
  color: #805a3b;
  font-size: 24px;
  font-weight: bold;
  /* line-height: 55px; */
  /* float:left; */
  padding-left: 5px; 
  padding-right:20px;
  /* padding-top: 130px;  */
}
nav ul {
  display: table-row;
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 1;
}
nav ul a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 10px 15px;
  font-family: Arial, Helvetica, sans-serif;
  /* margin-top: 10%; */
}
nav ul li {
  position: relative;
  display: inline-block;
  display: table-cell;
  width: 1%;
  list-style-type: none;
  text-align: center;
}
nav ul li:hover {
  background-color: #FEF2E4;
  border-bottom: 2px solid;
}
nav ul li:hover a {
  color: black;
}
nav ul ul{
  display: none;
  position: absolute;
  background:#fd974f;
  width: 100%; 
}
nav ul ul li {
  width: 100%;
  display: inline-block;
}
nav ul li:hover > ul {
  display: block;
}
.heading
{
  color:#c60000;
  font-size: 14px;
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block;
}
.desc{
  color:black;
  font-style: italic;
  font-size: 12px;
  display: block; 
  margin-top: -90px;
  padding-left: 43px;
  white-space:pre-wrap;
  /* margin-block-end: -10px; */
}
.image{
  margin-left: 15%;
  margin-right: 20%;
  text-align: center;
  margin:10px;
  width: auto;
	height: auto;
  max-width: 95%;
  max-height: 90%;
  transform: scale(0.7);
  padding-top: 0;
  margin-top: -90px;
  display: block;
}
.summary{
list-style: none;
box-sizing: border-box;
flex: 1 0 auto;
font-family: Arial, Helvetica, sans-serif;
color:black;
font-size: 16px;
padding-bottom: .125rem;

}
.summartList{
  /* display:list-item; */
  text-align: left;
  margin-bottom: 10px ;  
  padding-bottom: .125rem;
  line-height: 3.333em;
}
.summarySpan {
  position: relative;
  display: block;
  padding-bottom: 2px;
  margin-bottom: 10px;
}
.summaryTitle{
  /* font-style: bold;
  font-size: 16px; */
  color:rgb(198, 58, 27);
  font-weight: bold;
  
}
.h3Title{
  color:black;
  font-family: Trebuchet MS, sans-serif;
  font-size: 20px;
  margin-left: 35px;
  /* font-style: bold;
  font-size: 16px; */
}
.ingredients{
  /* -moz-column-count: 2;
  -webkit-column-count: 2; */
  column-count: 2;
  margin-top: -20px;
  /* display: block; */
  vertical-align:text-top; 
   /* justify-content: flex-start; */
   /* column-fill: balance; */
  /* margin:0; */
 
}
.steps{
  column-count: 1;
  margin-top: -20px;  
  
}
.background{
 
  background-image: linear-gradient(#FEF2E4 ,#FD974d ,#805A3B);
}
.rightCorner{
  margin-left: 5px;
}
