*{
    box-sizing: border-box;
    margin: 1fr;
}

.homeImage{
    margin-top: 2%;
    margin-left: 10%;
    width: 1000px;
    height: 250px;
    position: relative;
    border-color: #FEF2E4;
    border-style: solid;
}

.SubText{
    margin-left: 5%;
    font-size: 20px;
    font-weight: bold;
    color: #FEF2E4;
}

.subCategory{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, minmax(19em,1fr)) ; 
    list-style: none;
}

.container {
    padding: 20px;
    margin: 20px;
    border: 2px solid #C60000;
    border-radius: 10px;
    gap: 20px;
}

#headContainer{
    list-style: none;
    background-color: #FD974F;
}

.link{
    display: inline-block;
    padding-left: 90px;
}