*{
    box-sizing: border-box;
    margin: 0;
}

.homeImage{
    margin-top: 2%;
    margin-left: 10%;
    width: 1000px;
    height: 250px;
    position: relative;
    border-color: #FEF2E4;
    border-style: solid;
}

.SubText{
    margin-left: 2rem;
    margin-top: 2rem;
    font-size: 20px;
    font-weight: bold;
    color: #FEF2E4;
}

.subCategory{
    display: grid;
    grid-template-columns: repeat(3, 1fr) ; 
    list-style: none;
    gap: 20px;
    padding: 25px;
}

.container {
    display: flex;
    flex-flow:column;
    justify-content: space-between;
    border: 2px solid #C60000;
    border-radius: 10px;
}

#headContainer{
    list-style: none;
    background-color: #FD974F;
}

.link{
    display: inline-block;
    padding-left: 90px;
}

.footer {
    width: 100%;
    background-color:  #ffad73;
}

.footer a {
    display: inline-block;
    width: 33.33%;
    padding: 30px;
    text-align: center;
    vertical-align: top;
}