*{
    box-sizing: border-box;
    margin: 1fr;
}

.listImage{
    position: relative;
    margin: 1.25rem;
    box-shadow: 1px 8px 10px 0 rgb(72, 84, 84);
    width: 90%;
    height: 15rem;
    border-radius: 5px;
}

.name{
    font-size: 120%;
    color:#C60000;
    margin-left: 1rem;
}

.container{
    /* display: flex; 
    flex-flow: column; */
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;  
    background-color: #FEF2E4;
}

.recipeLink {
   padding-left: 18rem;
   margin-top: 5%;
}

