*{
    box-sizing: border-box;
    margin: 1fr;
}

.listImage{
    position: relative;
    margin: 1.25rem;
    box-shadow: 1px 8px 10px 0 rgb(72, 84, 84);
    width: 90%;
    height: 15rem;
    border-radius: 5px;
}

.name{
    font-size: 120%;
    color:#C60000;
    margin-left: 1rem;
}

.container{
    background-color: #FEF2E4;
}

.recipeLink {
    padding-top: 0.5rem;
    padding-left: 1rem;
  }

