.container {
  display: flex;
  flex-flow:column;
  justify-content: space-between;
  /* align-content: center; */
  
  border: 2px solid #C60000;
  border-radius: 10px;
  background-color: #FEF2E4;  
}

.textContainer{
  padding: 5px;
}

.title{
  font-size: 120%;
  color:#C60000;
  padding-top: 2rem;
}

.text{
  font-size: 100%;
  padding-top: 1rem;
}

.link {
  padding-top: 1rem;
  float:right;
}

