.hometitle{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 65px;
    text-shadow: 1px 1px 1px #C60000;
    color: #FEF2E4;
    margin-bottom: 5%;
   
}
#titleDiv{
    background-color: #FD974F;
    height: 80px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow: hidden;
    background-color: #333;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
  
.navbar a {
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

@media screen and (max-width: 500px) {
.navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; /* If you want the text to be left-aligned on small screens */  
}
}
  
.dropdown {
    float: left;
    /* overflow: hidden; */
    background-color: #333;
}
  
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #FEF2E4;
    color: #C60000;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown-content a:focus {
    background-color: #ddd;
    color: #C60000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:focus-within .dropdown-content {
    display: block;
}