.main {
margin-left: 25%;
border-radius: 5px;
width: 50%;
background-color: #f2f2f2;
border: none;
padding: 40px;
border-style: dashed;
border-color:#FD974F;
}

.main input[type=text], select, textarea {
width: 100%; 
padding: 12px; 
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
margin-top: 6px; 
margin-bottom: 16px; 
resize: vertical;
}

.main input[type=submit] {
background-color: #FD974F;
color: white;
padding: 12px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
}

.main input[type=submit]:hover {
background-color: #ffad73;
}

.outer{
    background-color: #FD974F;
  }

.GetFeaturedTitle {
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 25px;
    text-shadow: 1px 1px 1px #C60000;
    color: #FEF2E4;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
    }