
#GetInTouchList{
    display: grid;
    color: ivory;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    position: relative;
    list-style: none;
    bottom: 50px;
    /* background-color: #FD974F; */
}

#divPart{
     background: #FD974F;
} 

#textArea{
    border: solid 1px #805A3B;
    margin: 20px 8px 8px 8px;
    width: 40%;
    display: block;
    padding: 20px;
    background-color: #FEF2E4;
}

#button {
    width: 10%;
    height: 60%;
    background-color: #FEF2E4;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    border-radius: 7px;
    border-style: solid;
    border-color: #C60000;
    text-align: center;
    margin: 8px 8px 8px 8px;
    color: black;
}

/* #box{
    height: 15%;
    width: 30%;
    padding: 10px;
    border: solid 1px #805A3B;
} */

.input-effect {
    width: 40%;
    border-top-color: initial;
    border-top-style: initial;
    border-top-width: 0px;
    border-right-color: initial;
    border-right-style: initial;
    border-bottom-color: rgba(138, 148, 159, 0.25);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: initial;
    border-left-style: initial;
    border-left-width: 0px;
    padding: 4px 4px;
    border-bottom: 1px solid;
    background-color: transparent;
    margin-top: 7%;
}